{% extends 'layout.html' %}
{% block content %}
<main style="color: #000">

        <h2 class="sub-header">
                {{subheader}}
        </h2>
        {% if form is not none %}
        <form method="post">
                <dl>
                        {{ form.search }} </dl>
                        {{form.submit}}
        </form>
        {% endif %}

        {% if genres is none %}
        <h3 id="placeholder">Nothing to see here yet!</h3>
        {% endif %}

        {% if genres is not none %}
        <table>
        {% for genre in genres %}
        <tr><td>

        <h3>
                <span style="color:blue"> {{ genre.name }} </span>

        </h3>
        </td></tr>
        {% endfor %}
        </table>
        {% endif %}
        <nav>

                <div style="float:left">
                        {% if prev_page_url is not none %}
                        <button class="btn-general" onclick="location.href='{{prev_page_url}}'">Previous</button>
                {% else %}
                        <button class="btn-general-disabled" disabled>Previous</button>
                {% endif %}
                </div>
                <div style="float:right">
                        {% if next_page_url is not none %}
                            <button class="btn-general" onclick="location.href='{{next_page_url}}'">Next</button>
                        {% else %}
                            <button class="btn-general-disabled" disabled>Next</button>
                        {% endif %}
                    </div>

        </nav>



</main>

{% endblock %}

